$primary-text-color: #E8F1F2;
$secondary-text-color: #757575;
$hover-color: #5d606e;

$primary-background-color: #1d1d1d;
$secondary-background-color: #C91D3C;
$tertiary-background-color: #ffffff1d;

$footer-mobile-height: 10vh;
$footer-desktop-height: 2em;

$header-mobile-height: 3vh;
$header-desktop-height: 5em;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $primary-text-color;

    font-family: 'Roboto Mono', monospace;
    -webkit-overflow-scrolling: scroll;
    scroll-behavior: smooth;

    /* Disable scrollbar */
    scrollbar-width: none;
}

section#main {
    min-height: 100vh - $header-mobile-height - $footer-mobile-height;
}

section#aboutme {
    //min-height: 120vh;
    padding-bottom: 12vh;
}

section#projects {
    //min-height: 100vh;
    padding-bottom: 12vh;
}

.container {
    transition: height 0.5s ease-out;

    img {
        transition: height .7s ease-out, width .3s ease;
        width: 40vw;
        height: 40vw;
        margin-bottom: 1.8vw;
    }

    img.hidden {
        width: 0;
        height: 0;
    }

    div {
        transition: font-size 0.6s ease-out, opacity 0.6s ease;
        font-size: 0;
        opacity: 0;
        //height: 0;

        h3 {
            transition: height 1s ease;
            //height: 0;
            height: auto;
            opacity: 1;
            font-size: inherit;
        }
    }

    div.selected {
        //animation: fadeIn 1s;
        //transition-delay: 0s;
        height: auto;
        opacity: 1;
        font-size: inherit;

        h3 {
            height: inherit;
        }
    }

    .delayed-transition {
        transition-delay: 0.3s;
    }

    .svg-icon {
        display: inline-block;
        width: 5.5vw;
        transform: translateY(25%);
    }
}

body::-webkit-scrollbar {
    display: none;
}

body {
    /* Footer working on bottom */
    min-height: 100vh;
    padding-bottom: $footer-mobile-height;
    background: rgb(56, 53, 53);
    background-image: url("../images/background.jpg");
    //background-color: $primary-background-color;
    position: relative;
}

h1, h2, h3, h4, h5, h6, nav a {
    color: $primary-text-color;
    text-align: center;
}

.info-box h3 {
    color: $primary-background-color;
}

nav li, nav a, textarea, p {
    text-decoration: none;
}

h1 {
    font-size: 12vw;
    padding-bottom: 2vh;
}

h2 {
    font-size: 7.5vw;
}

h3 {
    font-size: 4.5vw;
}

.language-box {
    background-color: $primary-text-color;
    color: $primary-background-color;
    font-size: 0.75em;
    padding: 0.1em;
    display: inline-block;
    border-radius: 1em;
    min-width: 2em;
    text-align: center;
}

/* TODO: Do I still use this? */
.info-box {
    background-color: $tertiary-background-color;
    padding: 1.5em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border-radius: 1.5em;
}

.window {
    background-color: #ffffff1d;
    width: 90%;
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 2%;

     h2 {
         margin: 1.4vh auto auto auto;
     }
}

.window, input, textarea {
    border-radius: 2vw;
}

input, textarea {
    background-color: $tertiary-background-color;
    border: 0;
    padding: 2vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    width: 95%;
    margin-bottom: 2.2vh;
}

textarea {
    height: 27vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color:#ffffff1d;
    transition: background-color 5000s ease-in-out 0s;
}

/* To set up the honeypot */
.oneyhay-otpay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}

/* Changes Chrome's autofill color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $tertiary-background-color inset !important;
    -webkit-text-fill-color: $primary-background-color !important;
}

/* TODO: See if these two are still being used */
header .test {
    display: none;
}

html:not([data-scroll="0"]) {
    header .test {
        display: flex;
    }
}

header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-background-color;
    z-index: 1000;
    height: $header-mobile-height;

    nav {
        //transition: all 0.2s linear;
        text-align: center;
        margin: auto;
        clear: both;
        justify-content: center;
        display: none;

        ul {
            z-index: 1;

            li {
                padding: 0em 1em;
            }
        }
    }
}

nav li, .horizontal-list li {
    display: inline-block;
}

nav a {
    transition: color 0.3s ease 0.05s;
}

nav a:hover {
    color: $hover-color;
}

.svg-icon {
    margin: auto;
    background-repeat: no-repeat;
    display: block;
    transition: fill 0.3s ease 0.05s;
    fill: $primary-text-color;
    width: 6vh;
}

input[type=submit] {
    transition: color 0.3s ease 0.05s;
}

.svg-icon:hover, input[type=submit]:hover, a, a:visited, a:hover, a:active {
    fill: $primary-text-color;
    color: $primary-text-color;
    cursor: pointer;
}

input[type=submit]:disabled {
    color: $hover-color;
}

footer {
    /* Footer working on bottom */
    background-color: $secondary-background-color;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: $footer-mobile-height;
    
    nav li {
        font-size: 1.75vh;
        margin: 0 3vw;
        padding-top: 0.9vh;
        width: 20vw;
    }
}

.desktop-href {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

/* Desktop / Landscape Views */
@media (orientation: landscape), (min-width: 801px) {
    //section#main {
        //min-height: 1em - $header-desktop-height;
    //}


    .desktop-href {
        height: $header-desktop-height + 2.5em;
    }

    br {
        margin: 0;
        line-height: 2em;
    }

    header {
        padding: 1em;
        height: $header-desktop-height;
        position: sticky;

        nav {
            display: flex;
            padding-top: 0em;
            padding-bottom: 0em;
            font-size: 2em;
        }
    }

    footer {
        position: absolute;
        height: $footer-desktop-height;
        //bottom: 0;
    }

    body {
        /* Footer working on bottom */
        padding-bottom: $footer-desktop-height;
    }

    .svg-icon {
        width: 3.8em;
    }

    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    .window {
        width: 50em;
    }

    section:not(:last-of-type) {
        padding-bottom: 0em !important;
    }

    .window {
        font-size: 1.5em;
    }

    /*
    Note for .container
    In desktop mode, to have content move to side:
    add display: inline-block to img and div, and set a max-width so that it doesn't expand larger than (the container size - the image)
    */

    .container {
        img {
            width: 5em;
            height: 5em;
        }

        .svg-icon {
            width: 1.2em;
        }

        h3 {
            font-size: 1em;
        }
    }

    .mobile-only {
        display: none;
    }

    input, textarea {
        width: 40em;
        padding: 0.5em;
        font-size: 1.2em;
        margin-bottom: 0.8em;
    }
    
    .window, input, textarea {
        border-radius: 0.5em;
    }

    /* Resolution Scaling */
    @media (max-width: 1399px) {
        body {
            font-size: 12px;
        }
    }

    @media (min-width: 1400px) and (max-width: 2299px) {
        body {
            font-size: 16px;
        }
    }

    @media (min-width: 2300px) and (max-width: 3199px) {
        body {
            font-size: 24px;
        }
    }

    @media (min-width: 3200px) {
        body {
            font-size: 32px;
        }
    }
}
