$primary-text-color: #E8F1F2;
$secondary-text-color: #757575;
$hover-color: #5d606e;

$primary-background-color: #1d1d1d;
$secondary-background-color: #C91D3C;
$tertiary-background-color: #0997DE;

$footer-mobile-height: 4.3rem;
$footer-desktop-height: 2em;

$header-mobile-height: 3vh;
$header-desktop-height: 10vh;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $primary-text-color;

    font-family: 'Roboto Mono', monospace;
    -webkit-overflow-scrolling: scroll;
    scroll-behavior: smooth;

    /* Disable scrollbar */
    scrollbar-width: none;
}

section {
    min-height: 100vh;
}

section#main {
    min-height: 100vh - $header-mobile-height;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    /* Footer working on bottom */
    min-height: 100vh;
    padding-bottom: $footer-mobile-height;

    background-image: url("../images/background.png");
    //background-color: $primary-background-color;
    position: relative;
}

h1, h2, h3, h4, h5, h6, nav a {
    color: $primary-text-color;
}

.info-box h3 {
    color: $primary-background-color;
}

nav li, nav a, textarea, p {
    text-decoration: none;
}

h1 {
    text-align: center;
    padding-top: 0.7em;
    font-size: 12vw;
}

h2 {
    text-align: center;
    font-size: 4.5vw;
}

label, input, textarea {
    font-size: 1.5em;
}

.language-box {
    background-color: $primary-background-color;
    color: $tertiary-background-color;
    font-size: 0.75em;
    padding: 0.1em;
    display: inline-block;
    border-radius: 1em;
    min-width: 2em;
    text-align: center;
}

.info-box {
    background-color: $tertiary-background-color;
    padding: 1.5em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border-radius: 1.5em;
}

input, textarea {
    background-color: $tertiary-background-color;
    border: 0;
}

/* Changes Chrome's autofill color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $tertiary-background-color inset !important;
    -webkit-text-fill-color: $primary-background-color !important;
}

/* TODO: See if these two are still being used */
header .test {
    display: none;
}

html:not([data-scroll="0"]) {
    header .test {
        display: flex;
    }
}

header {
    top: 0vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-background-color;
    z-index: 1000;
    padding: 0.5vw 0.5vw;
    height: $header-mobile-height;

    nav {
        //transition: all 0.2s linear;
        text-align: center;
        margin: auto;
        clear: both;
        justify-content: center;
        display: none;

        ul {
            z-index: 1;
        }
    }
}

nav li, .horizontal-list li {
    display: inline-block;
}

nav a {
    transition: color 0.3s ease 0.05s;
}

nav a:hover {
    color: $hover-color;
}

.svg-icon {
    margin: auto;
    background-repeat: no-repeat;
    display: block;
    transition: fill 0.3s ease 0.05s;
    fill: $primary-background-color;
    width: 3em;
}

.svg-icon.off-color {
    fill: $primary-text-color;
}

input[type=submit] {
    transition: color 0.3s ease 0.05s;
}

.svg-icon:hover, input[type=submit]:hover {
    fill: $hover-color;
    color: $hover-color;
    cursor: pointer;
}

input[type=submit]:disabled {
    color: $hover-color;
}

footer {
    /* Footer working on bottom */
    background-color: $secondary-background-color;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    font-size: 0.7em;
    height: $footer-mobile-height;
    
    nav li {
        font-size: 1.15em;
        margin: 0 3.1vw;
        padding-top: 0.6em;
        width: 20vw;
    }
}

/* Desktop / Landscape Views */
@media (orientation: landscape), (min-width: 801px) {
    section#main {
        min-height: 100vh - $header-desktop-height;
    }

    header {
        padding: 1em;
        height: $header-desktop-height;
        position: sticky;

        nav {
            display: flex;
            padding-top: 0em;
            padding-bottom: 0em;
            font-size: 2em;
        }
    }

    footer {
        position: absolute;
        height: $footer-desktop-height;
        //bottom: 0;
    }

    body {
        /* Footer working on bottom */
        padding-bottom: $footer-desktop-height;
    }

    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 2.5em;
    }

    .mobile-only {
        display: none;
    }

    /* Resolution Scaling */
    @media (max-width: 1399px) {
        body {
            font-size: 12px;
        }
    }

    @media (min-width: 1400px) and (max-width: 2299px) {
        body {
            font-size: 16px;
        }
    }

    @media (min-width: 2300px) and (max-width: 3199px) {
        body {
            font-size: 24px;
        }
    }

    @media (min-width: 3200px) {
        body {
            font-size: 32px;
        }
    }
}