/* Navigation font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #cf9e9e;
}

body {
  /* Footer working on bottom */
  min-height: 100vh;
  padding-bottom: 2.5em;
  /* Disable scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #523535;
  position: relative;
}

a {
  padding: 0.6em;
}

nav li, nav a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  text-decoration: none;
  padding: 0.15em;
}

h1 {
  text-align: center;
  padding-top: 2em;
  font-size: 5em;
}

h2 {
  text-align: center;
  font-size: 2.5em;
}

header {
  top: 0vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  height: 6em;
  position: -webkit-sticky;
  position: sticky;
  background-color: #412a2a;
}

nav li, .horizontal-list li {
  display: inline-block;
}

nav a {
  -webkit-transition: color 0.3s ease 0.05s;
  transition: color 0.3s ease 0.05s;
}

nav a:hover {
  color: #8d6b6b;
}

.nav-button {
  visibility: hidden;
}

.svg-icon {
  background-repeat: no-repeat;
  display: block;
  -webkit-transition: fill 0.3s ease 0.05s;
  transition: fill 0.3s ease 0.05s;
  fill: #cf9e9e;
}

.svg-icon:hover {
  fill: #8d6b6b;
}

footer {
  /* Footer working on bottom */
  background-color: #00000030;
  position: absolute;
  bottom: 0;
  width: 100vw;
  font-size: 1.5em;
}

body::-webkit-scrollbar {
  display: none;
}

.mobile-only {
  display: none;
}

@media (max-aspect-ratio: 99 / 100) and (max-width: 1000px) {
  li, a {
    font-size: 5vw;
  }
  a {
    padding: 1.5vw;
  }
  header {
    padding: 0.5vw 0.5vw;
    height: 15vw;
  }
  body {
    /* Footer working on bottom */
    min-height: 100vh;
    padding-bottom: 2.5em;
  }
  nav li {
    display: block;
  }
  nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    clear: both;
  }
  header > nav {
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-button {
    visibility: visible;
    padding-left: 3vw;
    font-size: 8vw;
    border: none;
    background-color: inherit;
    cursor: pointer;
  }
  header nav.visible {
    visibility: visible;
    opacity: 1;
  }
  .mobile-only {
    display: block;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav {
    padding-top: 30em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-button {
    margin-right: auto;
  }
  .done {
    margin-right: 0%;
    margin-left: auto;
  }
}
/*# sourceMappingURL=style.css.map */