/* Navigation font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$text-color: #cf9e9e;
$hover-color: #8d6b6b;

$background-color: #523535;
$secondary-background-color: #412a2a;

$footer-padding: 2.5em;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $text-color;
}

h1 {
    font-family: "Times New Roman";
}

body {
    /* Footer working on bottom */
    min-height: 100vh;
    padding-bottom: $footer-padding;

    /* Disable scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;

    background-color: $background-color;
    position: relative;
}

a {
    padding: 0.6em;
}

nav li, nav a, button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    text-decoration: none;
    padding: 0.15em;
}

h1 {
    text-align: center;
    padding-top: 0.7em;
    font-size: 5em;
}

h2 {
    text-align: center;
    font-size: 2.5em;
}

label, input {
    font-size: 1.5em;
}

input, textarea, button {
    background-color: $secondary-background-color;
    border: 0;
}

header {
    top: 0vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 6em;
    position: sticky;
    background-color: $secondary-background-color;
}

nav li, .horizontal-list li {
    display: inline-block;
}

nav a {
    transition: color 0.3s ease 0.05s;
}

nav a:hover {
    color: $hover-color;
}

.nav-button {
    visibility: hidden;
}

.svg-icon {
    background-repeat: no-repeat;
    display: block;
    transition: fill 0.3s ease 0.05s;
    fill: $text-color;
}

.svg-icon:hover {
    fill: $hover-color;
}

footer {
    /* Footer working on bottom */
    background-color: #00000030;
    position: absolute;
    bottom: 0;
    width: 100vw;
    font-size: $footer-padding - 1;
}

body::-webkit-scrollbar {
    display: none;
}

.mobile-only {
    display: none;
}

@media (max-aspect-ratio: 999/1000) and (max-width: 999px) {
    a {
        padding: 1.5vw;
        font-size: 5vw;
    }

    header {
        padding: 0.5vw 0.5vw;
        height: 10vh;

        .background-shading {
            background-color: $secondary-background-color;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 10vh;
            left: 0px;
        }

        nav {
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s linear;
            text-align: center;
            margin: auto;
            clear: both;
            padding-top: 10vh;
            justify-content: center;
            display: flex;

            ul {
                z-index: 1;
            }

            li {
                display: block;
                padding-top: 2vh;
            }

            a {
                font-size: 10vw;
            }
        }
    }

    body {
        /* Footer working on bottom */
        min-height: 100vh;
        padding-bottom: $footer-padding;
    }

    h1 {
        font-size: 12vw;
    }

    h2 {
        font-size: 5vw;
    }

    .nav-button {
        visibility: visible;
        padding-left: 3vw;
        font-size: 8vw;
        border: none;
        background-color: inherit;
        cursor: pointer;
        margin-right: auto;
    }

    header nav.visible {
        visibility: visible;
        opacity: 1;
    }

    .mobile-only {
        display: block;
    }
}

@media (min-aspect-ratio: 1/1), (min-width: 1000px) {
    @media (max-width: 1399px) {
        body {
            font-size: 12px;
        }
    }

    @media (min-width: 1400px) and (max-width: 2299px) {
        body {
            font-size: 16px;
        }
    }
    
    @media (min-width: 2300px) and (max-width: 3199px) {
        body {
            font-size: 24px;
        }
    }
    
    @media (min-width: 3200px) {
        body {
            font-size: 32px;
        }
    }
}